@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Extends the default base to add some uniformity between elements */

  /* Gives a hero title to only be used in the intro to this page. This is because it's MASSIVE */
  .hero-title {
    @apply text-4xl md:text-5xl lg:text-7xl xl:text-7xl 2xl:text-8xl font-bold text-white text-pretty mb-1 md:mb-3 antialiased;
  }

  .title {
    @apply text-xl md:text-3xl lg:text-4xl xl:text-5xl 2xl:text-6xl font-bold text-white text-pretty mb-2 antialiased;
  }

  .title-2 {
    @apply text-lg md:text-xl lg:text-2xl xl:text-3xl 2xl:text-4xl font-semibold text-white text-pretty mb-2 antialiased;
  }

  .title-3 {
    @apply text-base md:text-lg lg:text-xl xl:text-2xl 2xl:text-3xl font-semibold text-white text-pretty mb-1 antialiased;
  }

  .title-4 {
    @apply text-sm md:text-base lg:text-lg xl:text-xl 2xl:text-2xl font-semibold text-white text-pretty mb-1 antialiased;
  }

  .subtitle {
    @apply text-xs md:text-sm xl:text-base text-gray-200 text-pretty antialiased mb-1;
  }

  .body {
    @apply text-xs sm:text-sm md:text-base xl:text-lg text-white font-light text-pretty mb-1 lg:mb-2;
  }


  /* Info specifically for cards. This ensures that every card has consistent and smaller titles and captions and subtitles than the normal base */
  .card-title {
    @apply text-lg md:text-xl lg:text-2xl font-semibold text-white text-pretty lg:mb-1;
  }

  .card-title-2 {
    @apply text-base md:text-lg lg:text-xl text-gray-100 text-pretty lg:mb-1;
  }

  .card-caption {
    @apply text-xs md:text-sm text-gray-300 text-pretty mb-1;
  }

  .card-body {
    @apply text-xs md:text-sm lg:text-base text-white font-light text-pretty;
  }

  /* Globally apply that no paragraph should be more than 6xl */
  p, li {
    @apply max-w-sm sm:max-w-5xl m-0;
  }
}

@layer components {
  .glass-regular-base {
    @apply glass-regular backdrop-blur-3xl;
  }

  .glass-regular {
    @apply bg-glass-regular/20;
  }

  .glass-thin-base {
    @apply bg-glass-thin/[.49] backdrop-blur-xl;
  }

  .glass-thin {
    @apply bg-glass-thin/[.18];
  }

  .glass-thick-base {
    @apply glass-thick backdrop-blur-[200px];
  }

  .glass-thick {
    @apply bg-glass-thick/[.60];
  }

  .glass-superthick {
    @apply bg-glass-thick/[.40] backdrop-blur-xl;
  }

  .glass-semithick-base {
    @apply glass-semithick-base backdrop-blur-[100px];
  }

  .glass-semithick {
    @apply bg-glass-semithick/[.45];
  }

  .button-glass {
    @apply glass-thin p-3 rounded-xl shadow flex flex-row items-center justify-center gap-2;
    transition: transform 0.2s;
  }

  .button-glass:hover {
    transform: scale(1.05);
    transition-timing-function: ease-in-out;
    @apply shadow-xl;
  }
}

@layer utilities {

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}