@import "tailwindcss";

@theme {
  /* Custom font sizes */
  --font-size-xss: 10px;
  --line-height-xss: 12px;

  /* Custom colors */
  --color-glass-regular: #d9d9d9;
  --color-glass-thin: #c9c9c9;
  --color-glass-semithick: #5e5e5e;
  --color-glass-thick: #403f3f;

  --color-chai-50: #f2efff;
  --color-chai-100: #d7ccff;
  --color-chai-200: #c4b4ff;
  --color-chai-300: #a992ff;
  --color-chai-400: #997dff;
  --color-chai-500: #7f5cff;
  --color-chai-600: #7454e8;
  --color-chai-700: #5a41b5;
  --color-chai-800: #46338c;
  --color-chai-900: #35276b;
  --color-chai-default: #7f5cff;

  --color-discord-100: #424549;
  --color-discord-200: #36393e;
  --color-discord-300: #282b30;
  --color-discord-400: #1e2124;
  --color-discord-blurple: #7289da;

  --color-docuflow-light: #ff4a33;
  --color-docuflow-dark: #ff381f;

  --color-fury: #4edbfc;

  /* Background images */
  --background-image-apt-day: url("/AptDay.png");
  --background-image-apt-night: url("/AptNight.png");

  /* Font family */
  --font-family-sf-pro-display: "SF Pro Display", "Helvetica Neue", sans-serif;
}

@layer base {
  /* Extends the default base to add some uniformity between elements */

  /* Gives a hero title to only be used in the intro to this page. This is because it's MASSIVE */
  .hero-title {
    @apply text-4xl md:text-5xl lg:text-7xl xl:text-7xl 2xl:text-8xl font-bold text-white text-pretty mb-1 md:mb-3;
  }

  .title {
    @apply text-2xl lg:text-3xl xl:text-4xl 2xl:text-5xl font-bold text-white text-pretty mb-2;
  }

  .title-2 {
    @apply text-lg md:text-xl lg:text-2xl xl:text-3xl 2xl:text-4xl font-semibold text-white text-pretty mb-2;
  }

  .title-3 {
    @apply text-base md:text-lg lg:text-xl xl:text-2xl 2xl:text-3xl font-semibold text-gray-100 text-pretty mb-1;
  }

  .title-4 {
    @apply text-sm md:text-base lg:text-lg xl:text-xl 2xl:text-2xl font-semibold text-gray-200 text-pretty mb-1;
  }

  .subtitle {
    @apply text-sm md:text-base text-gray-200 text-pretty mb-1;
  }

  .body {
    @apply text-xs sm:text-sm md:text-base text-gray-100 font-light text-pretty mb-1;
  }

  /* Info specifically for cards. This ensures that every card has consistent and smaller titles and captions and subtitles than the normal base */
  .card-title {
    @apply text-lg md:text-xl lg:text-2xl font-semibold text-white text-pretty lg:mb-1 leading-tight;
  }

  .card-title-2 {
    @apply text-base md:text-lg lg:text-xl font-medium text-gray-100 text-pretty lg:mb-1;
  }

  .card-caption {
    @apply text-xs md:text-sm text-gray-300 text-pretty mb-1;
  }

  .card-body {
    @apply text-xs md:text-sm text-gray-100 font-light text-pretty;
  }
}

@layer components {
  .glass-thin {
    @apply backdrop-blur-md shadow-md;
  }

  .glass-regular {
    @apply backdrop-blur-lg shadow-lg;
  }

  .glass-semithick {
    @apply backdrop-blur-xl shadow-xl;
  }

  .glass-thick {
    @apply backdrop-blur-2xl shadow-2xl;
  }

  .button-glass:hover {
    transform: scale(1.05);
    transition-timing-function: ease-in-out;
    @apply shadow-xl;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}
